<!-- DO NOT MODIFY -->
<div class="container">
  <h1>Simple Simon Says</h1>

  <form>
  <input id="get_color" type="submit" value="click me"></input></form>
</div>

<ul id="color_me">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
